body {
    max-width: 100%;
}

nav,
body > hr,
body > h2,
body > p {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.PhotoSet {
    background-repeat: no-repeat;
    background-size: cover;
}

.PhotoSet#robot {
    background-image: url("/art/robot-cafe/images/thumbs/bg.webp");
}

.PhotoSet#barb {
    background-image: url("/art/barb/images/thumbs/bg.webp");
}

.PhotoSet#agoraphobia {
    background-image: url("/art/agoraphobia/images/thumbs/bg.webp");
}

.PhotoSet h2 {
    text-align: center;
    color: white;
    font-family: georgia;
    font-style: italic;
    padding-top: 10vh;
    text-transform: uppercase;
    font-size: 3rem;
}

.Photos {
    display: flex;
    flex-direction: column;
}

.Photo {
    margin: 0 auto;
    padding: 10vh 0;
}

.Photo img {
    max-width: 80vw;
    max-height: 80vh;
}

.Photo.row {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 1200px) {
    nav,
    body > hr,
    body > h2,
    body > p {
        max-width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .PhotoSet h2 {
        font-size: 1.6875rem;
    }
}

@media only screen and (max-width: 1024px) {
    .Photo.row {
        display: inline;
        padding: 0;
        text-align: center;
    }
    .Photo.row img {
        margin: 10vh 0;
        height: auto;
    }
}
